<!DOCTYPE html>
<html>
<head>
  <style>
    h1, p {text-align:center;}
  </style>
</head>
<body>


<h1>Thanks for reading good books!</h1>

 <p><strong>Please <a href="/">return</a> again soon!</strong></p>

</body>
</html>