<h1>Community Library</h1>

<h2>These are your books:</h2>
<!-- @user.books.each do -->

<h2>These are books available for borrowing!</h2>
<!-- Books.all.select do |book| book.status == available && owner_id != @user id -->

<h3>These are books you're currently borrowing!</h3>
<!-- Books.all.select do |book| book.status == borrowed && book.borrower_id == @user.id -->


