<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {text-align:center;}
    p, form { padding-left: 1cm; }
    ul  { padding-left: 2cm; }
    a { padding-left: 1cm; padding-bottom: 1cm;}
  </style>
</head>
<body>

<h1>Below is the info about the book you'd like to borrow from: <%= @book.user.name %></h1>

  <%= erb :'/books/_template_show_basic_info', locals: {book: @book} %>
   <%= erb :'/books/_template_show_author_genre', locals: {book: @book} %>

<form method="POST" action="/bookshelf/<%=@book.slug%>/borrow">
  <input type="submit" name="status" value="Borrow Book">
</form>
<br></br>
<a href="/bookshelf">Back</a>

</body>
</html>