<!DOCTYPE html>
<html>
<head>
  <style>
    p {text-align:center;}
  </style>
</head>
<body>

<p><strong>It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</strong></p>

<p>(Remember, don't pretend to be someone you're not. Always use your own login.)</p>

</body>
</html>