<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Welcome to the Community Library</title>
</head>
<body>
<header>
  <img src="images/bookshelf.jpg" alt="bookshelf"/>
</header>

  <%= yield %>
</body>
</html>